<!--The content below is only a placeholder and can be replaced.-->
<!--[parentData]is used here for input property and (childData) used for output property-->
<div class="container">
  <!-- <h3 [ngStyle] = "inLineCss">Wel  come to Angular Project</h3> -->
  <br>
  <!-- <h3>Template DrivenForms Features</h3>
  <app-simple-form></app-simple-form> -->
 <!--{{childMessage}}
 <br>
  <app-registration (childData) = "childMessage=$event"  [parentData] = "name"></app-registration>-->


<!----======used for ng Content IST Trick=======-->
  <!--2<app-registration>
    <!--<div>Hello EveryOne Ganesh is Here!!</div>
    <button>buttonOne</button>-->

<!--==========2nd=========-->
   <!-- <div class = "headingPart">This is the Heading part</div>
    <div class = "bodyPart">This is the Body part</div>-->
    <!--=======2nd====-->
   <!--2 <ng-container class = "headingPart">This is the Heading part</ng-container>
    <ng-container class = "bodyPart">This is the body part</ng-container>
  </app-registration>-->
  <!----======used for ng Content IST Trick=======-->
 <!-- <br><br><br><br><br><br><br><br> -->
  <app-log-in></app-log-in>
  
 </div>


  

